/* Estilos del footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(to bottom, #5E5E5E, #000000);
    color: white;
    text-align: center;
}

/* Estilos del logo en el footer */
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

    .footer-logo img {
        height: 70px;
        margin-right: 10px;
    }

    .footer-logo a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

/* Listado del footer */
.footer-list {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

    .footer-list .List {
        margin-bottom: 15px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .footer-list h5 {
        margin-bottom: 10px;
    }

    .footer-list ul {
        list-style: none;
        padding: 0;
    }

        .footer-list ul li {
            margin-bottom: 5px;
        }

    .footer-list a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

        .footer-list a:hover {
            color: dodgerblue;
        }

/* Derechos reservados */
.rights-reserved {
    font-size: 12px;
    margin-top: 20px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .footer-list .List {
            padding-right: 0;
            margin-bottom: 20px;
            margin-right: 0;
            text-align: center;
        }

    .footer-logo {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-witdth: 440px) {

    .footer-list .List {
        padding-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        flex-direction: column;
    }
}
