<div class="footer">
    <div class="footer-logo">
        <img src="img/WLogo.png" alt="Logo" />
    </div>

    <div class="footer-list">
        <div class="List">
            <h5 class="poppins-light">Explore</h5>
            <ul class="poppins-extralight">
                <li><a href="#Descubrir">Home</a></li>
                <li><a href="#BuscarVuelo">Buscar vuelos</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </div>
        <div class="List">
            <h5 class="poppins-light">Follow</h5>
            <ul class="poppins-extralight">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="List">
            <h5 class="poppins-light">Contact</h5>
            <ul class="poppins-extralight">
                <li><a href="#">WonderPlane@gmail.com</a></li>
                <li><a href="#">Pereira, Colombia</a></li>
                <li><a href="#">3187213456</a></li>
            </ul>
        </div>
        <div class="List">
            <h5 class="poppins-light">Legal</h5>
            <ul class="poppins-extralight">
                <li><a href="#">Términos</a></li>
                <li><a href="#">Privacidad</a></li>
            </ul>
        </div>
    </div>

    <p class="poppins-extralight rights-reserved">© 2024 WonderPlane. All rights reserved.</p>
</div>
