@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider/>

<MudLayout>
    <header>
        <NavMenu />
    </header>
    
    <MudMainContent>
        <main class="main-content">
            @Body
        </main>
    </MudMainContent>

    <FooterMenu />

</MudLayout>





