@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />

<MudLayout>

    <!-- NavBar fija en la parte superior -->
        <NavMenu />

    <!-- Contenedor principal del contenido -->
    <MudMainContent>
        <main>
            <div class="main-content">
                @Body
            </div>
        </main>
    </MudMainContent>

    <!-- Footer fijo en la parte inferior -->
    <FooterMenu />

</MudLayout>





