@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider/>

<div>
    <NavMenu />
    <MudMainContent>
        <main class="main-content">
            @Body
        </main>
    </MudMainContent>
    <FooterMenu />
</div>





