@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />

<MudLayout>
    <NavMenu />
        <section class="content" style="margin-top:60px;">
            @Body
        </section>
   <FooterMenu />
</MudLayout>


