<div class="nav-menu-admin">
    <div class="nav-item">
        <NavLink class="nav-link " href="Admin">
            <i class="fa-solid fa-user"></i>
            <span>Admin</span>
        </NavLink>
    </div>
</div>

