<nav class="navbar poppins-regular">
    <div class="navbar-logo">
        <img src="img/logo.png" alt="Logo" />
        WonderPlane
    </div>
    <div class="navbar-menu" id="navbarMenu">
        <a href="#home">Buscar vuelos</a>
        <a href="#about">Iniciar sesión</a>
        <a href="#services">Registrarse</a>
    </div>
    <button class="hamburger" id="hamburger">
        &#9776;
    </button>
</nav>

<script>
    // Script para manejar la visibilidad del menú en móviles
    const hamburger = document.getElementById('hamburger');
    const navbarMenu = document.getElementById('navbarMenu');

    hamburger.addEventListener('click', () => {
        navbarMenu.classList.toggle('active');
    });
</script>