
<nav class="navbar poppins-extralight">

    <div class="navbar-logo">
        <img src="img/Wlogo.png" alt="Logo" />
        <span>WonderPlane</span>
    </div>

    <div class="navbar-menu" id="navbarMenu">
        <a href="/">Inicio</a>
        <a href="/buscarVuelo">Buscar vuelos</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/register">Registrarse</a>
    </div>

    <button class="hamburger" id="hamburger">
        &#9776;
    </button>
</nav>

<script>
    const hamburger = document.getElementById('hamburger');
    const navbarMenu = document.getElementById('navbarMenu');

    hamburger.addEventListener('click', () => {
        navbarMenu.classList.toggle('active');
    });
</script>

