@inherits LayoutComponentBase

<MudPopoverProvider />
<MudThemeProvider />
<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <SideBarAdmin />
    </div>

    <div class="main-content">
        <main class="content-area">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>