/*Contenedor principal*/

.contain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    padding: 50px;
}

.edit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:40%;
    margin-bottom: 50px;
    color: #071952;
}

.edit-image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.img-change {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

    .img-change img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .img-change:hover img {
        filter: brightness(0.7);
    }

    img-change .profile-avatar {
        height: 150px;
        width: 150px;
        font-size: 20px;
    }

.img-change-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-change:hover .img-change-button {
    opacity: 1;
}

.configuration-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    color: #071952;
}

.edit-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.edit-section h3 {
    margin-bottom: 20px;

}

.vertical-hr {
    width: 2px;
    height: 600px;
    background-color: black;
    margin: 0 30px; 
}

.input-no-border{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 0;
}

select {
    appearance: none; 
    border: none; 
    background: none; 
    padding: 0; 
    font: inherit; 
    color: inherit; 
    width: 50%; 
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    vertical-align: middle;
}


strong {
    font-weight: bold;
}

.change-password {
    color: dodgerblue;
    cursor: pointer;
}


.confirm-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #071952;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}


.options-delete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}


.field-messages li {
    font-size: 0.5rem; 
    line-height: 1.2; 
}

.options-has-changes {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el formulario de cambio de contraseña*/

.password-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    display: flex;
    left:40%;
    top:20%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: ease-in all 0.5s;
    height: 500px; 
    width:300px;
}

    .password-form h2 {
        margin-bottom: 10px;
        text-align: center;
    }

    .password-form .input {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }


.form-container {
    display: flex;
    flex-direction: column;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.small-validation-message {
    font-size: 8px;
    color: red;
    min-height: 20px;
    margin-top: 5px;
}

/*Botones*/

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin:0 10px 10px 10px;
}

.confirm-button {
    background-color: dodgerblue;
    color: white;
}

        .confirm-button:hover {
            background: none;
            color: black;
            transition: ease 0.5s;
        }

    .discard-button {
        background-color:whitesmoke;
    }

    .discard-button:hover {
        background-color: red;
        transition: ease 0.5s;
        color: white;
    }

    .delete-account-button {
        color: red;
        cursor: pointer;
    }


