.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: dodgerblue;
}

.flight-search-card {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1%;
    background-color: rgba(245, 245, 245, 0.7);
}

.radio-group {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    padding-left: 3%;
}

.form-search {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    color: #071952;
}

.form-button {
    color: white;
    border-radius: 10px;
    border-block-color: dodgerblue;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5rem;
    width: 30%;
    font-weight: 500;
    font-size: 0.8rem;
}

.input-group {
    display: flex;
    align-items: center;
}

    .input-group span {
        color: #071952;
        font-size: 1.5rem;
        border: 1px solid #ced4da;
        border-right: none;
        border-radius: 5px;
        padding-inline: 1%;
        padding-block: 4.9px;
    }

.form-control {
    font-size: 0.8rem;
    color: #507687;
}

.form-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 18px;
}

    .form-button .submit-button {
        background-color: dodgerblue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
    }

        .form-button .submit-button:hover {
            background-color: #256cff
        }

.container-flight-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
    margin-block: 1%;
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.container-flight-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    text-align: center;
    padding: 1%;
}

.container-flight-origin {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #071952;
}

.container-flight-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #507687;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #FF6699;
    margin: 1% 0;
}

.container-flight-destination {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #071952;
}

.container-flight-airline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #071952;
}

    .container-flight-airline span {
        font-size: 1.5rem;
        padding-inline: 1%;
        padding-block: 4.8px;
        color: #071952;
    }

.container-flight-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    padding: 1%;
}

.container-flight-2 h7{
    font-size: 0.7rem;
    color: #071952;
    margin-block-end: 10px;
}

.container-flight-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 20%;
    color: #071952;
    text-align: center;
}

.container-flight-price .price{
    font-weight: 800;
}

.form-button-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

    .form-button-2 .submit-button-2 {
        background-color: #0AD1D0;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
    }

        .form-button-2 .submit-button-2:hover {
            background-color: #08B0AF
        }
.autocomplete-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    width: 100%;
}

.cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

    .cities span {
        text-align: left;
    }

    .cities h7 {
        font-weight: 250;
        font-size: 0.6rem;
        text-align: left;
    }

.autocomplete-results {
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 300px; 
    max-height: 250px; 
    overflow-y: auto; 
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 10; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
}

    .autocomplete-results li {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
    }

        .autocomplete-results li:hover {
            background-color: #f0f0f0;
        }

.city-image {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
    border-radius: 5px; 
}