@page "/"
@using WonderPlane.Client.Components

<PageTitle>Home</PageTitle>

@* Sección 1 de Home (Bienvenido) *@
<main class="Home-container">
    <section id="Carousel" class="carousel">

        <SearchFlights />

    </section>
   <section id="Descubrir" class="welcome">

        <h1 class="poppins-light">Bienvenido a <span>WonderPlane</span></h1>
        <p class="poppins-light">WonderPlane es una web para gestionar tus tiquetes y poder conquistar 
            otros mundos, animate a descubrir el universo con nosotros.</p>
   </section>

   @* Sección 2 de Home (Carousel de imagenes) *@
    <section id="Carousel" class="carousel">

        <Carousel />

    </section>
    @* Sección 5 de Home (Sobre Nosotros) *@
    <section id="SobreNosotros" class="about-us">

        <img class="about-main-img" src="img/img24.jpg" alt="Alternate Text" />

        <article class="about-info">
            <h5 class="poppins-semibold" style="color:dodgerblue;">Sobre Nosotros</h5>
            <h2 class="poppins-bold">Nosotros proveemos la forma más fácil para gestionar tus tiquetes de vuelo.</h2>
            <p class="poppins-regular">WonderPlane es una plataforma de reservas de vuelos que te permite encontrar y comprar tiquetes aéreos de forma rápida y segura. Con una interfaz intuitiva y amigable, podrás buscar vuelos, comparar precios y reservar tus tiquetes en pocos minutos. ¡Descubre una nueva forma de volar con WonderPlane!</p>
            
            <div class="about-images">
                <img src="img/img25.jpg" alt="Alternate Text" />
                <img src="img/img26.jpg" alt="Alternate Text" />
            </div>

            <div class="about-button"><a href="#">Ver más</a></div>
        </article>

    </section>

    @* Sección 6 de Home (Servicios) *@
    <section id="Servicios" class="services-container">

        <article class="services poppins-regular">

            <div class="services-component">
                <div class="services-item">
                    <span class="material-symbols-outlined">price_check</span>
                </div>
                <div class="services-item-info">
                    <h4>Mejores precios</h4>
                    <p>¡Aprovecha las tarifas más competitivas del mercado! Te ofrecemos las mejores ofertas para que tu viaje sea no solo inolvidable, sino también asequible.</p>
                </div>
            </div>

            <div class="services-component">
                <div class="services-item">
                    <span class="material-symbols-outlined">support_agent</span>
                </div>
                <div class="services-item-info">
                    <h4>Mejor servicio</h4>
                    <p>Nuestro compromiso es ofrecerte una experiencia de viaje excepcional. Desde la reserva hasta el aterrizaje, nuestro equipo de expertos está a tu disposición para garantizar tu satisfacción.</p>
                </div>
            </div>

            <div class="services-component">
                <div class="services-item">
                    <span class="material-symbols-outlined">autorenew</span>
                </div>
                <div class="services-item-info">
                    <h4>Devoluciones</h4>
                    <p>Sabemos que los planes pueden cambiar. Por eso, te ofrecemos políticas flexibles para cambios y cancelaciones, para que puedas ajustar tu itinerario sin preocupaciones.</p>
                </div>
            </div>
           
        </article>

        <article class="why-text">
            <img src="img/logoNuevo.svg" alt="Alternate Text" />
        </article>
    </section>
</main>


