.Home-container {
    width: 100%;
    margin:0px;
}

.welcome {
    /*background: url(../img/fondoregister.jpg) no-repeat center;
    background-size: cover;*/
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    margin-top: 0;
}
    .welcome h1 {
        font-size: 80px;
    }

    .welcome h1 span {
        color: dodgerblue;
    }

    .welcome p {
        font-size: 20px;
        width: 80%;
        max-width: 900px;
    }

    .welcome .button-discover {
        font-size: 20px;
        background-color: dodgerblue;
        padding: 15px 25px;
        border-radius:5px;
    }

        .welcome .button-discover a {
            text-decoration: none;
            color: white;
        }

        .welcome .button-discover:hover {
            background-color: royalblue;
            transition: 0.3s;
        }


.carousel {
    width: 100%;
    margin-top: 0;
}

.search-fly {
    background-color: #fefefe;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-info {
    background-color: white;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

    .cards-info h2 {
        font-size: 60px;
        margin-bottom: 40px;
        margin-top: 30px;
        text-align: center;
    }

    

.about-us {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

    .about-us .about-info {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 600px;
        padding: 50px;
        margin-left: -150px;
        z-index: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .about-us .about-main-img {
        width: 500px;
        height: 800px;
    }

    .about-us .about-info .about-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

        .about-us .about-info .about-images img {
            height: 150px;
            width: 230px;
        }

    .about-us .about-button {
        background-color: dodgerblue;
        color: white;
        font-size: 20px;
        padding: 15px 25px;
        margin-top:10px;
    }

        .about-us .about-button a {
            color: white;
            text-decoration: none;
        }

        .about-us .about-button:hover {
            background-color: royalblue;
            transition: 0.3s;
        }

.services-container {
    background-color:white;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 40px;
}

    .services-container .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }

        .services-container .services .services-component {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }

        .services-container .services .services-item {
            background-color: dodgerblue;
            padding: 30px;
            margin-right: 20px;
            display: flex;
            justify-content: space-between;
        }

            .services-container .services .services-item:hover {
                background-color: royalblue;
                transition: 0.3s;
            }

            .services-container .services .services-item span {
                font-size: 50px;
                color:white;
            }


        .services-container .services .services-item-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
        }
            .services-container .services .services-item-info h4 {
                color:dodgerblue;
            }

            .services-container .services .services-item-info p {
                font-size: 14px;
                width: 100%;
            }

    .services-container .why-text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }




@media screen and (max-width:768px){

    /*Contenedor 1 (Inicio)*/
    .welcome h1 {
        font-size: 50px;
    }

    /*Contenedor 2 (Carousel)*/
    .carousel {
        height: 500px;
    }

    /*Contenedor 4 (Tarjetas)*/
    .cards-info h2 {
        font-size: 40px;
    }

    /*Contenedor 5 (Sobre nosotros)*/
    .about-us .about-main-img {
        display: none;
    }

    .about-us .about-container {
        margin:0;
    }

    .about-us {
        align-items:center;
    }


    /*Contenedor 6 (Servicios)*/
    .Home-container6 {
        flex-direction:column;
    }

    .Home-container6 .services {
        width: 100%;
    }

    .Home-container6 h1 {
        font-size: 40px;
    }
}


@media screen and (max-width:540px){


    /*Contenedor 1 (Inicio)*/
    .welcome {
        height: 700px;
    }
    .welcome h1 {
        font-size: 40px;
    }

    .welcome p {
        font-size: 15px;
    }

    /*Contenedor 5 (Sobre nosotros)*/
    .about-us {
        padding: 20px;
    }
    .about-us .about-container {
        width: 100%;
        margin-left: 0;
    }

    .about-us .about-images {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .about-us .about-images img {
        margin-bottom: 20px;
    }

    .about-us .about-button {
        margin: auto;
    }

    /*Contenedor 6 (Servicios)*/

    .services-container{
        padding: 20px;
    }
    .services-container .services .services-component {
        width: 100%;
    }

    .services-container .services h4 {
        font-size:18px;
    }

    .services-container .services .services-item-info p {
        font-size: 10px;
    }
    }