.Home-container {
    width: 100%;
    margin:0px;
}

.Home-container1 {
    background-image: url(../img/fondoregister.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 0;
}
    .Home-container1 h1 {
        font-size: 80px;
    }

    .Home-container1 p {
        font-size: 20px;
        width: 80%;
        max-width: 900px;
    }

    .Home-container1 .button-discover {
        color: white;
        font-size: 20px;
        background-color: dodgerblue;
        padding: 15px 25px;
    }

        .Home-container1 .button-discover a {
            color: white;
            text-decoration: none;
        }

        .Home-container1 .button-discover:hover {
            background-color: royalblue;
            transition: 0.3s;
        }

.Home-container2 {
    /*height: 800px;*/
    width: 100%;
    margin-top: 0;
}

.Home-container3 {
    background-color: #fefefe;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-container4 {
    background-color: white;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

    .Home-container4 h1 {
        font-size: 60px;
        margin-bottom: 40px;
        margin-top: 30px;
        text-align: center;
    }

    

.Home-container5 {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

    .Home-container5 .about-container {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 600px;
        padding: 50px;
        margin-left: -150px;
        z-index: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .Home-container5 .about-main-img {
        width: 500px;
        height: 800px;
    }

    .Home-container5 .about-container .about-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

        .Home-container5 .about-container .about-images img {
            height: 150px;
            width: 230px;
        }

    .Home-container5 .about-button {
        background-color: dodgerblue;
        color: white;
        font-size: 20px;
        padding: 15px 25px;
        margin-top:10px;
    }

        .Home-container5 .about-button a {
            color: white;
            text-decoration: none;
        }

        .Home-container5 .about-button:hover {
            background-color: royalblue;
            transition: 0.3s;
        }

.Home-container6 {
   background-color:white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-right: 20px;
    text-align: center;
    padding: 40px;
}

    .Home-container6 .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }

        .Home-container6 .services .services-component {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }

        .Home-container6 .services .services-item {
            background-color: dodgerblue;
            padding: 30px;
            margin-right: 20px;
            display: flex;
            justify-content: space-between;
        }

            .Home-container6 .services .services-item:hover {
                background-color: royalblue;
                transition: 0.3s;
            }

            .Home-container6 .services .services-item span {
                font-size: 50px;
                color:white;
            }


        .Home-container6 .services .services-item-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
        }
            .Home-container6 .services .services-item-info h4 {
                color:dodgerblue;
            }

            .Home-container6 .services .services-item-info p {
                font-size: 14px;
                width: 100%;
            }

    .Home-container6 .why-text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }




@media screen and (max-width:768px){

    /*Contenedor 1 (Inicio)*/
    .Home-container1 h1 {
        font-size: 50px;
    }

    /*Contenedor 2 (Carousel)*/
    .Home-container2 {
        height: 500px;
    }

    /*Contenedor 4 (Tarjetas)*/
    .Home-container4 h1 {
        font-size: 40px;
    }

    /*Contenedor 5 (Sobre nosotros)*/
    .Home-container5 .about-main-img {
        display: none;
    }

    .Home-container5 .about-container {
        margin:0;
    }

    .Home-container5 {
        align-items:center;
    }


    /*Contenedor 6 (Servicios)*/
    .Home-container6 {
        flex-direction:column;
    }

    .Home-container6 .services {
        width: 100%;
    }

    .Home-container6 h1 {
        font-size: 40px;
    }
}


@media screen and (max-width:540px){


    /*Contenedor 1 (Inicio)*/
    .Home-container1 {
        height: 700px;
    }
    .Home-container1 h1 {
        font-size: 40px;
    }

    .Home-container1 p {
        font-size: 15px;
    }

    /*Contenedor 5 (Sobre nosotros)*/
    .Home-container5 {
        padding: 20px;
    }
    .Home-container5 .about-container {
        width: 100%;
        margin-left: 0;
    }

    .Home-container5 .about-images {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .Home-container5 .about-images img {
        margin-bottom: 20px;
    }

    .Home-container5 .about-button {
        margin: auto;
    }

    /*Contenedor 6 (Servicios)*/

    .Home-container6{
        padding: 20px;
    }
    .Home-container6 .services .services-component {
        width: 100%;
    }

    .Home-container6 .services h4 {
        font-size:18px;
    }

    .Home-container6 .services .services-item-info p {
        font-size: 10px;
    }
    }