@page "/login"

<PageTitle>Iniciar Sesión</PageTitle>

@using WonderPlane.Shared;
@using WonderPlane.Client.Servicios;
@using System.ComponentModel.DataAnnotations;
@using MudBlazor;
@using Microsoft.AspNetCore.Components.Authorization

@inject IUserService UserService;
@inject NavigationManager navigation;
@inject HttpClient Http;
@inject CountryService CountryService;
@inject ISnackbar Snackbar;
@inject ImageUploadService ImageUploadService;
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthenticationStateProvider




<main class="main-container poppins-light">

    <section class="login-container">

        <EditForm Model="User" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <h1>Bienvenido</h1>

            <div class="form-container">

                <div class="input">
                    <label class="form-label">Email</label>
                    <InputText class="form-control" @bind-Value="User.Email" Placeholder="example@domain.com"></InputText>
                    <span class="small-validation-message"><ValidationMessage For="@(() => User.Email)"></ValidationMessage></span>
                </div>

                <div class="input">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" @bind-value="User.Password" />
                    <span class="small-validation-message"><ValidationMessage For="@(() => User.Password)"></ValidationMessage></span>
                </div>

            </div>

            <div class="form-button">

                <button class="submit-button" type="submit">Ingresar</button>

                <ul>
                    <li>
                        <a>¿No tienes una cuenta?</a>
                        <a class="ingreso" href="/register"> Ingresa aqui</a>
                    </li>
                </ul>
            </div>
        </EditForm>

    </section>

    <section class="info-container">

        <img src="img/Wlogo.png" alt="Alternate Text" /><br />
        <h2>¡Inicia sesión en tu cuenta!</h2>
        <p>Bienvenido de nuevo a nuestra comunidad. Inicia sesión para acceder a tus servicios personalizados y aprovechar al máximo todas las ventajas que ofrecemos. Si aún no tienes una cuenta, no dudes en registrarte y unirte a nosotros. ¡Te esperamos!</p>
    
    </section>

</main>

@code
{
    UserLoginDto User = new UserLoginDto
    {
        Email = string.Empty,
        Password = string.Empty
    };

    private async Task OnValidSubmit()
    {
        try
        {
            var token = await UserService.LoginUser(User);
            Snackbar.Add("Inicio de sesión exitoso.", Severity.Success);
            await Task.Delay(2000); 
            // Console.WriteLine($"Token: {token}");

            await JS.InvokeVoidAsync("localStorage.setItem", "Token", token); // Guardar token en local storage
            await AuthenticationStateProvider.GetAuthenticationStateAsync(); // Actualizar estado de autenticación
            
            navigation.NavigateTo("/");
        }
        catch (ApplicationException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
