.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

    .main-container .svg-bottom {
        margin-top: -300px;
    }

.login-container {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: dodgerblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    margin-top: 20px;
}

.input {
    margin-bottom: 1rem;
}


.form-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

    .form-button .submit-button {
        background-color: dodgerblue;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 50%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

        .form-button .submit-button:hover {
            background-color: #0094ff;
        }

    .form-button .ingreso {
        color: dodgerblue;
    }

.small-validation-message {
    font-size: 8px;
    color: red;
    min-height: 20px;
}

.waveimg {
    left: 0;
    bottom: 0;
}
.forgot-password {
    cursor: pointer;
    color: dodgerblue;
    margin-top: 10px;
}

.return-login {
    cursor: pointer;
}

.info-message-form {
    max-width: 500px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {

    .login-container {
        margin-right:-50px;
    }
}

@media screen and (max-width: 576px) {

    .login-container {
        margin:20px;
    }

    .info-container {
        display:none;
    }
}