.main-content {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suscribe-to-news{
    margin: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-div{
    width: 100%;
}

.filters {
    margin:30px 0;
}

.filter-origin {
    text-align: center;
}

.filter-origin span {
    color: dodgerblue;
}

.filter-origin img {
    width:30px;
    height: 30px;
}

.admin-contact {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}
/* Estilos para tarjetas de consejos */

/* CARDS */

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.card-tip {
    margin: 20px;
    padding: 20px;
    width: 400px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

    .card-tip:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }

.card_link,
.card_exit,
.card_icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

    .card_link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
    }

    .card_link:hover::after {
        width: 100%;
    }

.card_exit {
    grid-row: 1/2;
    justify-self: end;
}

.card_icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card_title {
    grid-row: 3/4;
    color: white;
    font-size: 20px;
}

.card__apply a span{
   margin-bottom:-5px;
}

/* CARD BACKGROUNDS */

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}


/* Estilos para las tarjetas*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 40px;
    background-color: white;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 1.2em;
    border-radius: 40px 0 0 0;
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

    .card__arc path {
        fill: white;
        d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__title2 {
    font-size: 0.9em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.call-to-action {
    color: dodgerblue;
}

.color-red{
    color: red;
}

.color-blue {
    color: dodgerblue;
}
