@page "/prueba"
@using WonderPlane.Client.Servicios;
@using WonderPlane.Shared;

@inject IUserService userService

<EditForm Model="@newUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <MudTextField Label="id=" @bind-Value="newUser.Id" Required="true" />
    <MudTextField Label="Username" @bind-Value="newUser.Name" Required="true" />
    <MudTextField Label="Last Name" @bind-Value="newUser.LastName" Required="true" />
    <MudTextField Label="Email" @bind-Value="newUser.Email" Required="true" />
    <MudTextField Label="Password" @bind-Value="newUser.Password"  Required="true" />
    

    <MudButton OnClick="HandleValidSubmit">Register</MudButton>
</EditForm>

<p>@registrationMessage</p>

@code {
    private UserDTO newUser = new UserDTO();
    private int registrationMessage;

    private async Task HandleValidSubmit()
    {
        registrationMessage = await userService.CreateUser(newUser);
    }
}