@page "/register2"
@using System.ComponentModel.DataAnnotations
@using WonderPlane.Shared;
@using WonderPlane.Client.Servicios;

@inject IUserService UserService;
@inject NavigationManager navigation;

<EditForm Model="@newUser" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
<div class="container-principal">
    <div class="container-img">
        <img src="images/register.svg"/>
    </div>
    <div class="container-formulario">

        <div class="container-header">
            <img src="images/logo4.svg" />
            <ul>
                <li>
                    <a>¿ya tienes una cuenta?</a>
                    <a class="ingreso" href="login"> Ingresa aqui</a>
                </li>
            </ul>   
        </div>

        <div class="subtitle-register">
            <h1>Register</h1>
        </div>
        <div class="container-formularios">

            <div class="container-form-1">
                    <MudTextField Label="Id"
                                  @bind-Value="newUser.Id" />
                    <MudTextField Label="First name"
                                  @bind-Value="newUser.Name" />
                    <MudTextField Label="Last name" 
                                  @bind-Value="newUser.LastName" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" Type="submit">Register</MudButton>

            </div>

        </div>
    </div>
</div>
</EditForm>


@code {
    UserDTO newUser = new UserDTO();
    private string? registrationError;

    private async Task HandleValidSubmit()
    {
        try
        {
            var userId = await UserService.CreateUser(newUser);
            navigation.NavigateTo("/login"); // Redirigir o mostrar mensaje de éxito
        }
        catch (ApplicationException ex)
        {
            registrationError = ex.Message; // Manejo del error
        }
    }

}