.main-container {
    background-image:url("img/fondoregister.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

.info-container {
    background: rgba(173, 216, 230, 0.2);
    flex: 1;
    height: 850px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    color: white;
    padding:100px;
}

.register-container {
    background-color:white;
    flex:1;
    padding:30px;
    margin:0px -70px 0px 20px;
    z-index:1;
}

 h1 {
    text-align:center;
}

.form-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
}

.form-container-left, .form-container-right {
    flex: 1; 
    margin: 10px; 
}

.input {
    margin-bottom: 1rem; 
}

.register {
    margin-top: 20px; 
}

.form-button {
    display: flex; 
    justify-content: center; 
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.form-button .submit-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 50%; 
    margin-bottom:10px;
}

.form-button .submit-button:hover {
    background-color: #45a049; 
}

.form-button .ingreso{
    color: dodgerblue;
}

.small-validation-message {
    font-size: 8px; 
    color: red; 
    min-height: 20px; 
    /*margin-top: 5px; */
}


@media screen and (max-width: 768px) {

    .register-container {
        margin:20px -20px 20px 10px;
    }
    .form-container {
        flex-direction: column; 
        align-items: center; 
    }
    .form-container-left, .form-container-right {
        width: 100%; 
    }

    .info-container {
        height: 1350px;
    }
}

@media screen and (max-width: 480px) {
    .info-container {
        display: none;
    }

    .main-container {
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .register-container {
        margin:20px;
    }
}