.main-container {
    /*background-image: url("img/img2.jpg");*/
    background-image:url("img/fondoregister.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center; /* Centra el contenido horizontalmente */
}

.info-container {
    background: rgba(173, 216, 230, 0.2); /* Azul claro a negro con transparencia */
    flex: 1; /* Permite que el contenedor ocupe todo el espacio restante */
    height: 900px;
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    flex-direction:column;
    color: white;
    padding:100px;
}

.register-container {
    background-color:white;
    flex:1;
    /*height:750px;*/
    padding:30px;
    margin:5px -70px 120px 20px;
   /* border-radius: 10px;*/
    z-index:1;
}

 h1 {
    text-align:center;
}

.form-container {
    display: flex; /* Habilita Flexbox */
    flex-direction: row; /* Organiza los elementos en una fila */
    justify-content: space-between; /* Espacia los elementos */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 1200px; /* Opcional: establece un ancho máximo */
}

.form-container-left, .form-container-right {
    flex: 1; /* Permite que ambos lados ocupen espacio igual */
    margin: 10px; /* Espaciado entre columnas */
}

.input {
    margin-bottom: 1rem; /* Espacio entre cada campo de entrada */
}

.register {
    margin-top: 20px; /* Espacio entre el botón y el formulario */
}

.form-button {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra el botón */
    flex-direction:column;
    align-items:center;
}
.form-button .submit-button {
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    width: 50%; /* Ancho completo */
    margin-bottom:5px;
}

.form-button .submit-button:hover {
    background-color: #45a049; /* Verde más oscuro */
}

.form-button .ingreso{
    color: dodgerblue;
}

.small-validation-message {
    font-size: 8px; /* Ajusta el tamaño que prefieras */
    color: red; /* Opcional: Cambia el color si lo necesitas */
    min-height: 20px; /* Altura fija para el mensaje */
    margin-top: 5px; /* Espacio entre el input y el mensaje */
}