.contain {
    background-color:white;
    margin:0;
    height:800px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
}

.contain h1 {
    margin-bottom:50px;
    margin-top:50px;
}

.create-button {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    width:100%;
}

.create-button .button {
    margin-right:40%;
}

.button {
    background-color: dodgerblue;
    border: none;
    border-radius:5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.cancel {
    background-color:red;
}

.button:hover {
    background-color: #555;
    transition: ease 0.5s;
}


.create-user-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0.95);
}

    .create-user-container.show {
        opacity: 1;
        transform: scale(1);
    }

.create-user-container span {
    position:absolute;
    top:0;
    right:20px;
    padding:10px;
    cursor:pointer;
}

/*---------------------------------------------------------------------------*/

.container {
    width: 80%;
}

.tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 4%;
    padding-block-end: 2%;
    color: #071952;
}

.nav-item {
    background-color: crimson;
    font-size: 0.8rem;
    color: white;
    padding: 10%;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}






