<div class="cards-container poppins-light">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/img22.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Guía de equipaje</h5>
            <p class="card-text">Consulta las políticas de equipaje para asegurarte de que llevas todo lo que necesitas sin problemas.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/img22.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Restricciones de viaje</h5>
            <p class="card-text">Infórmate sobre las restricciones y requisitos de viaje actualizados en los destinos más populares.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/img22.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cuidados y seguridad</h5>
            <p class="card-text">Descubre las mejores prácticas para garantizar tu seguridad durante el viaje.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/img22.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cuidados y seguridad</h5>
            <p class="card-text">Descubre las mejores prácticas para garantizar tu seguridad durante el viaje.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </div>
   
</div>
