.create-form {
    background-color: white;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition:ease-in all 0.5s;
}

.create-form h2 {
    margin-bottom:50px;
    text-align:center;
}

.create-form .input {
   margin-bottom:10px;
   display:flex;
   justify-content:space-between;
   flex-direction:column;
}

.create-form .input-email {
    grid-column:span 2;
    width:100%;
}

.create-form .input-email input {
    width:100%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

.form-container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
}

.form-button {
    grid-column: span 3;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;
}
.form-button .button {
    background-color: dodgerblue;
    border: none;
    border-radius:5px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.form-button .button:hover {
    background-color: #555;
    transition: ease 0.5s;
}
