<div class="flight-search-form">
    <h2 class="poppins-regular">Buscar vuelos</h2>
    <form class="poppins-regular">
        <!-- Campo de Origen -->
        <div class="input-group">
            <span class="material-symbols-outlined icon" style="color:black;">flight_takeoff</span>
            <input type="text" placeholder="Origen" required>
        </div>

        <!-- Campo de Destino -->
        <div class="input-group">
            <span class="material-symbols-outlined icon" style="color:black;">flight_land</span>
            <input type="text" placeholder="Destino" required>
        </div>

        <!-- Campo de Fecha -->
        <div class="input-group">
            <input type="date" required>
        </div>

        <!-- Selección de clase -->
        <div class="input-group">
            <span class="material-symbols-outlined icon" style="color:black;">class</span>
            <select required>
                <option value="" disabled selected>Seleccionar clase</option>
                <option value="economica">Clase Económica</option>
                <option value="primera">Primera Clase</option>
            </select>
        </div>

        <!-- Botón de búsqueda -->
        <button type="submit" class="search-button">Buscar</button>
    </form>
</div>
