<div class="cards-container">
    <MudCard Class="fly-card">
        <MudCardMedia Image="img/img17.jpg" Height="350" />
        <MudCardContent>
            <MudText Typo="Typo.subtitle1">Origen: Bogotá, Colombia</MudText>
            <MudText Typo="Typo.subtitle1">Destino: Londres, Inglaterra</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Info">Comprar</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Info">Reservar</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="fly-card">
        <MudCardMedia Image="img/img18.jpg" Height="350" />
        <MudCardContent>
            <MudText Typo="Typo.subtitle1">Origen: Bogotá, Colombia</MudText>
            <MudText Typo="Typo.subtitle1">Destino: Londres, Inglaterra</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Info">Comprar</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Info">Reservar</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="fly-card">
        <MudCardMedia Image="img/img19.jpg" Height="350" />
        <MudCardContent>
            <MudText Typo="Typo.subtitle1">Origen: Bogotá, Colombia</MudText>
            <MudText Typo="Typo.subtitle1">Destino: Londres, Inglaterra</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Info">Comprar</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Info">Reservar</MudButton>
        </MudCardActions>
    </MudCard>
</div>

